PORT=3000
MONGO_URI=mongodb://mongodb:27017/mentecart
REDIS_URL=redis://redis:6379
JWT_SECRET=jwt_secret
JWT_EXPIRES_IN=24h
PAYHERE_MERCHANT_ID=merchant_id
PAYHERE_MERCHANT_SECRET=merchant_secret
PAYHERE_BASE_URL=https://sandbox.payhere.lk/pay/checkout
PUBLIC_URL= https://stooge-causing-prodigal.ngrok-free.dev
CART_EXPIRY_MINUTES=15
MAX_BOOKINGS_PER_DAY=5
NODE_ENV=development